<div class="container">
  <div class="py-4">
    <%= link_to "Create New Event!", new_event_path, class: "#{button_class(theme: "secondary")} p-4" %>
  </div>
  <div class="grid grid-cols-4 gap-4">
    <% @events.each do |e| %>
      <div class="flex flex-col bg-slate-300 rounded-md shadow-md h-max p-2">
        <%= e.title %>
        <%= e.creator.name %>
        <%= e.description %>
        <%= e.start_time.strftime("%B %d, %Y %I:%M %p") %>
        <%= e.end_time.strftime("%B %d, %Y %I:%M %p") %>
        <%= e.event_date.strftime("%B %d, %Y %I:%M %p") %>
        <% if user_signed_in? && current_user.id == e.created_by %>
          <%= button_to 'Delete', event_path(e), method: :delete,
          data: { confirm: 'Are you sure?' }, class: button_class(theme: 'secondary') %>
        <% end %>
      </div>
    <% end %>
  <div>
</div>